:root {
    --skin-light: #F6BC9D;
    --skin-dark: #ffac8d;
    --eye-color: rgb(67, 26, 28);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(227, 210, 228);
    background: linear-gradient(25deg, rgba(227, 210, 228, 1) 1%, rgba(251, 222, 180, 1) 49%, rgba(211, 221, 208, 1) 79%);
}

@keyframes move {
    0% {
        transform: none;
    }

    20% {
        transform: translateX(.6vmin) translateY(1vmin) scale(0.95);
    }

    25%,
    44% {
        transform: none;
    }

    50%,
    60% {
        transform: translateX(1vmin) translateY(-4vmin) scale(0.95);
    }

    66%,
    100% {
        transform: none;
    }
}

@keyframes blink {

    90% {
        transform: none;
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateY(15px) scaleY(0);
    }

    100% {
        animation-timing-function: ease-out;
    }
}

#cartoon {
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    bottom: 15%;
    transform: translateY(8%);


    //All divs and before and after they should have same styles
    div,
    div.ha,
    div.hb {
        content: '';
        display: block;
        position: absolute;
    }

    //EAR
    .ear {
        top: 45%;
        left: 16%;
        width: 8vmin;
        height: 15vmin;
        background: var(--skin-dark);
        border-radius: 100% / 50% 50% 20% 120%;
        box-shadow: inset 31px 29px 38px 11px #fc9c79;
        transform: rotate(-10deg);
        border-bottom: 3px solid #E5734E;
        border-top: 4px solid #E5734E;

    }

    .ear+.ear {
        left: auto;
        right: 16%;
        transform: scaleX(-1) rotate(-10deg);

    }


    //FACE
    .face {
        width: 45vmin;
        height: 58vmin;
        background: radial-gradient(circle, var(--skin-light) 0%, var(--skin-dark) 81%);
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 100% /60% 60% 80% 80%;
        border-bottom: 0.3vmin solid #E5734E;


        .mouth {
            top: 76%;
            left: 50%;
            transform: translateX(-50%);
            width: 30%;
            height: 10%;
            background: radial-gradient(circle, rgba(129, 4, 4, 1) 0%, rgba(92, 39, 39, 1) 100%);
            border-radius: 10vmin;
            border-bottom-right-radius: 100vmin;
            border-bottom-left-radius: 100vmin;
            border-top: 2px solid var(--skin-light);
            border-bottom: 8px solid rgb(235, 132, 100);
            display: flex;
            justify-content: center;
            overflow: hidden;

            .theet {
                width: 70%;
                height: 30%;
                background: white;
                border-bottom-left-radius: 100%;
                border-bottom-right-radius: 100%;
            }

            .tongue {
                position: absolute;
                bottom: -10px;
                right: 0;
                width: 60%;
                height: 80%;
                background: linear-gradient(216deg, rgba(129, 4, 4, 1) 0%, rgba(200, 51, 51, 1) 64%, rgba(200, 51, 51, 1) 100%);
                border-top-left-radius: 100%;
                border-bottom-right-radius: 100%;
            }

        }

        .eye-left,
        .eye-right {

            width: 30%;
            height: 30%;
            background: linear-gradient(0deg, rgba(249, 250, 245, 1) 0%, rgba(249, 251, 251, 1) 64%);
            border-radius: 50%;
            border-top: 0.8vmin solid rgb(111, 70, 62);
            border-bottom: 2px solid#E5734E;
            animation: blink 2.4s infinite;
            animation-delay: 8s;

            .pupil {

                width: 6vmin;
                height: 8vmin;
                background: rgb(6, 0, 6);
                border-radius: 50%;
                border: 0.6vmin solid var(--eye-color);
                animation: move 5s ease-out infinite;

                .white {
                    width: 1vmin;
                    height: 1vmin;
                    background: #fff;
                    border-radius: 50%;

                }
            }

        }

        .eye-left {
            top: 30%;
            left: 10%;

            .pupil {
                bottom: 10%;
                right: 16%;
            }

            .white {
                top: 18%;
                right: 25%;
            }
        }

        .eye-right {
            top: 30%;
            right: 10%;

            .pupil {
                bottom: 10%;
                left: 16%;
            }

            .white {
                top: 18%;
                left: 25%;
            }
        }

        // .eye+.eye {
        //     left: auto;
        //     right: 10%;
        //     transform: scaleX(-1) rotate(-10deg);
        //     animation: blink 2.4s infinite;
        //     animation-delay: 8s;
        // }






        .nose {
            width: 20%;
            height: 12%;
            border-radius: 50%;
            top: 60%;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 0.8vmin -0.8vmin #E5734E;
        }

        .eye-brow {
            top: 20%;
            left: 8%;
            width: 30%;
            height: 10%;
            border-radius: 100%;
            border-top: 1.8vmin solid rgb(116, 57, 54);
        }

        .eye-brow+.eye-brow {
            left: auto;
            right: 8%;
        }


    }

    //NECK
    .neck {
        width: 18%;
        height: 12%;
        background-color: var(--skin-dark);
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        border-bottom: 16px solid #DAA190;
        border-radius: 30%;
    }

    //HAIR
    .hair {
        width: 50%;
        height: 15%;
        top: 11.8%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        border-radius: 100%;
        border-top: 12vmin solid #9A5B54;
    }

    .t-shirt {
        width: 100%;
        height: 80%;
        background: #F7B857;
        z-index: -2;
        border-radius: 50%;
        bottom: -70%;

    }
}